
@{
    Layout = null;
    ViewBag.Title = "Update";
}

<div class=" tab-pane active">
    <form id="formUpdate" role="form" class="form-horizontal" style="height:100%" ng-submit="update($event)" novalidate >
        <div class="modal-body">
            @*<div class="row">
                <div class="col-sm-11">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Reference:</label>
                        <div class="col-md-7">
                            <input id="particular" name="particular" type="text" class="form-control input-xs" ng-model="updateDepositForm.Reference" required data-required-msg="Required" />
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="rows">
                <div class="col-md-12-fluid">
                    <div class="form-group">
                        <label class="control-label col-md-3">Deposit to:</label>
                        <div class="col-md-6">
                            <select id="account" class="form-control input-xs" ng-model="updateDepositForm.Account.Id">
                                <option value="e316ad49-3335-4f93-a85a-0dc328f967a8" title="Bank Saving">Bank Saving</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col-md-12-fluid">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="amount">Amount:</label>
                        <div class="col-md-6">
                            <input name="amount" id="amount" kendo-numeric-text-box k-min="0" data-format="n4"
                                   data-decimals="4"
                                   data-step="0.01"
                                   data-role="numerictextbox"
                                   ng-model="updateDepositForm.Amount"
                                   k-ng-model="updateDepositForm.Amount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col-md-12-fluid">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="period">Period:</label>
                        <div class='col-md-6'>
                            <input id="Birthday" name="Birthday" kendo-date-picker k-format="MM/dd/yyyy" ng-model="updateDepositForm.Date" k-ng-model="updateDepositForm.Dateobj" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="col-md-12-fluid">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="particular">Notes:</label>
                        <div class="col-md-6">
                            <textarea name="Notes" type="text" class="form-control input-xs" id="notes" ng-model="updateDepositForm.Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-lg" style="width: 100px;">
                <span data-ng-hide="showUpdatingAnimation">
                    Save
                </span>
                <span data-ng-show="showUpdatingAnimation">
                    Saving
                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                </span>
            </button>
        </div>
    </form>
    
</div>