
@{
    Layout = null;
    ViewBag.Title = "Update";
}
<style>
    .row {
        margin-left:15px; margin-right:15px
    }
</style>
<div class=" tab-pane active">
    <form id="formUpsertBank" role="form" class="form-horizontal" style="height:100%" ng-submit="Save($event)">
        <div class="modal-body">
            <div class="rows">                
                    <div class="form-group">
                        <label for="txtBankName" >Bank Name:</label>
                        <input id="txtBankName" name="bankName" type="text" class="form-control input-xs" ng-model="BankForm.Name" required data-required-msg="Required" />
                    </div>                
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-lg" style="width: 100px;">
                <span data-ng-hide="showUpdatingAnimation">
                    Save
                </span>
                <span data-ng-show="showUpdatingAnimation">
                    Saving
                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                </span>
            </button>
        </div>
    </form>
    
</div>